{{#partial "content"}}
    <section>
        <h1>{{ title }}</h1>
        <p>{{body}}</p>
        <form action="/blog/{{ blogEntry.slug }}/edit">
            <button>Edit</button>
        </form>

    </section>
    <section class="entry-comments">
        <div class="container">
            <form action="/blog/{{ blogEntry.slug }}/comment" method="post">
                <input placeholder="Comment here">
                <button>Comment!</button>
            </form>
            <h2>Comments</h2>
            <ul>
                {{#each blogEntry.comment}}
                    <li>
                        <h2> {{ blogEntry.creator }} </h2>
                        <p> {{ blogEntry.comment}} </p>
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>
{{/partial}}

{{> base.hbs}}